
var live = false;

var coinbaseRestApi = 'https://api-public.sandbox.exchange.coinbase.com';
var coinbaseWebSocketFeed = 'https://ws-feed-public.sandbox.exchange.coinbase.com';

var accessKey = ''; // ie: 9a7363add51d119878adff5d1989ca17
var secret = ''; // ie: 'PYPd1Hv4J6/7x...'
var passphrase = ''; //ie: 'this is the secret passphrase I put into the API key generation tool';

// Switch to live API
if(live){
  coinbaseRestApi = 'https://api.exchange.coinbase.com';
  coinbaseWebSocketFeed = 'wss://ws-feed.exchange.coinbase.com';
}
