
var live = false;

var coinbaseRestApi = 'https://api-public.sandbox.exchange.coinbase.com';
var coinbaseWebSocketFeed = 'https://ws-feed-public.sandbox.exchange.coinbase.com';

var accessKey = ''; // ie: 9a7363add51d119878adff5d1989ca17
var secret = ''; // ie: 'PYPd1Hv4J6/7x...'
var passphrase = ''; //ie: 'this is the secret passphrase I put into the API key generation tool';

// Switch to live API
if(live){
  coinbaseRestApi = 'https://api.exchange.coinbase.com';
  coinbaseWebSocketFeed = 'wss://ws-feed.exchange.coinbase.com';
}

var orderCount = 50;
var accountId = '';

exports.ORDER_COUNT = 50;  // This is the number of open orders to create below the current price (at start time)
exports.GAP_AMOUNT = 1; // This is the price gap between orders.
exports.MONGO_CONNECTION_STRING = 'mongodb://localhost/liquiditybot';

// Per installation difference
exports.DELETE_PREVIOUS = true;
exports.REST_URL = coinbaseRestApi;
exports.SOCKET_URL = coinbaseWebSocketFeed;
exports.ACCESS_KEY = accessKey;
exports.SECRET_KEY = secret;
exports.PASSPHRASE_KEY = passphrase;
exports.ORDER_COUNT = orderCount;
exports.ACCOUNT_ID = accountId;
exports.AMOUNT_USD = 100; // set this to the number of USD you want to use in the bids
